*.swp
*~
*.elc
.git
el-get
*/el-get
elpa
*/elpa
auto-save-list
ac-comphist.dat
helm-adaptive-history
bookmarks
irony
tramp
.emacs-places
.recentf
.python-environments
local/clang/stdafx.pch
.DS_Store
